<div class="page-title">
  <h2><span class="fa fa-user"></span> Profile</h2>
</div>
<div class="page-content-wrap">

  <div class="row">
    <div class="col-md-12">

      <form class="form-horizontal">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Profile :</strong> Ici vous pouvez modifier vos information</h3>
            <!-- <ul class="panel-controls">
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul> -->
          </div>
          <div class="panel-body">

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">Nom d'utilisateur</label>
              <div class="col-md-6 col-xs-12">
                <div class="input-group col-md-6 col-xs-12">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">Nom</label>
              <div class="col-md-6 col-xs-12">
                <div class="input-group col-md-6 col-xs-12">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">Prénom</label>
              <div class="col-md-6 col-xs-12">
                <div class="input-group col-md-6 col-xs-12">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">Email</label>
              <div class="col-md-3 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><span>@</span></span>
                  <input type="email" class="form-control" />
                </div>
              </div>
            </div>
              <!-- <label class="col-md-3 col-xs-12 control-label">Role</label>
              <div class="col-md-3 col-xs-12">
                <select class="form-control select">
                                    <option>Admin</option>
                                    <option>Utilisateur</option>
                                </select>
              </div> -->

              <div class="form-group">
                  <label class="col-md-3 col-xs-12 control-label">Role</label>
                  <div class="col-md-3 col-xs-12">                                                                                
                      <select class="input-group form-control select" data-live-search="true">
                          <option>Admin</option>
                          <option>Utilisateur</option>
                      </select>
                  </div>
              </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">Image</label>
              <div class="col-md-6 col-xs-12">
                <input type="file" class="fileinput btn-danger" name="filename" data-filename-placement="inside" id="filename" title="Nom du fichier"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">Mot de passe</label>
              <div class="col-md-6 col-xs-12">
                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">Changer votre mot de passe</button>
              </div>
            </div>

            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Changer le mot de passe</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label class="col-md-3 col-xs-12 control-label">Mot de passe</label>
                      <div class="col-md-6 col-xs-12">
                        <div class="input-group">
                          <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                          <input type="password" class="form-control" (keypress)="openValidation()" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"/>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 col-xs-12 control-label">Confirmer mot de passe</label>
                      <div class="col-md-6 col-xs-12">
                        <div class="input-group">
                          <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                          <input type="password" class="form-control" (keyup)="passwordValidation()" [disabled]="open" [(ngModel)]="confPassword" [ngModelOptions]="{standalone: true}"/>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 col-xs-12 control-label"></label>
                      <div class="col-md-6 col-xs-12">
                        <div class="input-group">
                          <input type="text" *ngIf="valid === 'green'" disabled style="background-color: green;cursor: default;color: white" class="form-control" value="Password valid" />
                          <input type="text" *ngIf="valid === 'red'" disabled style="background-color: red;cursor: default;color: white" class="form-control" value="Password non valid" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary pull-right">Valider</button>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <div class="panel-footer">
            <button class="btn btn-default">Vider</button>
            <button class="btn btn-primary pull-right">Modifier</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>