<!-- START PAGE CONTAINER -->
<div class="page-container">

  <!-- START PAGE SIDEBAR -->
  <div class="page-sidebar">
    <!-- START X-NAVIGATION -->
    <ul class="x-navigation">
      <li class="xn-logo">
        <a class="header-logo" href="index.html"><img style="height: 50px" src="./../../assets/img/logo.png" alt="John Doe"/></a>
        <a href="#" class="x-navigation-control"></a>
      </li>
      <li class="xn-profile">
        <a href="#" class="profile-mini">
                  <img src="./../../assets/assets/images/users/nabil.jpg" alt="Nabil Bartout"/>
              </a>
        <div class="profile">
          <div class="profile-image">
            <img src="./../../assets/assets/images/users/nabil.jpg" alt="Nabil Bartout" />
          </div>
          <div class="profile-data">
            <div class="profile-data-name">Nabil Bartout</div>
            <div class="profile-data-title">Web Master</div>
          </div>
          <div class="profile-controls">
            <a [routerLink]="['/profile']" style="cursor: pointer" class="profile-control-left"><span class="fa fa-info"></span></a>
            <!-- <a href="pages-messages.html" class="profile-control-right"><span class="fa fa-envelope"></span></a> -->
          </div>
        </div>
      </li>
      <li class="xn-title">Navigation</li>
      <li class="active">
        <a href="index.html"><span class="fa fa-dashboard"></span> <span class="xn-text">Tableau de bord</span></a>
      </li>
      <li class="xn-openable">
        <a href="#"><span class="fa fa-cogs"></span> <span class="xn-text">Espace Admin</span></a>
        <ul>
          <li><a href="pages-gallery.html"> Marque</a></li>
          <li><a href="pages-profile.html"> Type de materiel</a></li>
          <li><a href="pages-address-book.html"> Fonction</a></li>
          <li><a href="pages-messages.html"> Salle</a></li>
          <li><a href="pages-calendar.html"> Type de salle</a></li>
          <li><a href="pages-tasks.html"> Caracteristique</a></li>
          <li><a href="pages-content-table.html"> administrateur</a></li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/materiel']" style="cursor: pointer"><span class="fa fa-desktop"></span> <span class="xn-text">Matériel</span></a>
      </li>
      <li>
        <a href="#"><span class="fa fa-random"></span> <span class="xn-text">Affecter</span></a>
      </li>
      <li>
        <a href="#"><span class="fa fa-users"></span> <span class="xn-text">Employée</span></a>
      </li>
      <li class="xn-openable">
        <a href="tables.html"><span class="fa fa-table"></span> <span class="xn-text">Recherche</span></a>
        <ul>
          <li><a href="table-basic.html"> Materiel d'un employée</a></li>
          <li><a href="table-datatables.html"> Materiel dans une salle</a></li>
        </ul>
      </li>
      
    </ul>
    <!-- END X-NAVIGATION -->
  </div>
  <!-- END PAGE SIDEBAR -->

  <!-- PAGE CONTENT -->
  <div class="page-content">

    <!-- START X-NAVIGATION VERTICAL -->
    <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
      <!-- TOGGLE NAVIGATION -->
      <li class="xn-icon-button">
        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
      </li>
      <!-- END TOGGLE NAVIGATION -->
      <!-- SEARCH -->
      <li class="xn-search">
        <form role="form">
          <input type="text" name="search" placeholder="Search..." />
        </form>
      </li>
      <!-- END SEARCH -->
      <!-- SIGN OUT -->
      <li class="xn-icon-button pull-right">
        <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
      </li>
      <!-- END SIGN OUT -->
    </ul>
    <!-- END X-NAVIGATION VERTICAL -->

    <!-- PAGE CONTENT WRAPPER -->

    <router-outlet></router-outlet>
    <!-- END PAGE CONTENT WRAPPER -->
  </div>
  <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

<!-- MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
  <div class="mb-container">
    <div class="mb-middle">
      <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
      <div class="mb-content">
        <p>Are you sure you want to log out?</p>
        <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
      </div>
      <div class="mb-footer">
        <div class="pull-right">
          <a (click)="logout()" class="btn btn-success btn-lg">Yes</a>
          <button class="btn btn-default btn-lg mb-control-close">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MESSAGE BOX-->