<!-- PAGE TITLE -->
<div class="page-title">
  <h2><span class="fa fa-arrow-circle-o-left"></span> Materiels</h2>
</div>
<div class="page-title">
  <button class="btn btn-primary pull-left" data-toggle="modal" data-target="#myModal">
      <i class="fa fa-plus"></i> Ajouter</button>
</div>
<br />

<!-- END PAGE TITLE -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Ajouter un Materiel</h4>
        </div>
        <div class="modal-body">

          <div class="form-group" style="height: 30px">
            <label class="col-md-3 col-xs-12 control-label">Serie</label>
            <div class="col-md-6 col-xs-12">
              <select class="input-group form-control select" data-live-search="true">
                            <option>A123</option>
                            <option>B555</option>
                        </select>
            </div>
          </div>
          <div class="form-group" style="height: 30px">
            <label class="col-md-3 col-xs-12 control-label">Marque</label>
            <div class="col-md-6 col-xs-12">
              <select class="input-group form-control select" data-live-search="true">
                              <option>Hp</option>
                              <option>Dell</option>
                          </select>
            </div>
          </div>
          <div class="form-group" style="height: 30px">
            <label class="col-md-3 col-xs-12 control-label">Salle</label>
            <div class="col-md-6 col-xs-12">
              <select class="input-group form-control select" data-live-search="true">
                              <option>1D</option>
                              <option>3C</option>
                          </select>
            </div>
          </div>
          <div class="form-group" style="height: 40px">
            <label class="col-md-3 col-xs-12 control-label">Sous Matériel</label>
            <div class="col-md-6 col-xs-12">
              <div class="radio">
                <label>
                          <input [(ngModel)]="radio" (click)="isSousMateriel()" type="radio" name="sousMateriel" id="optionsRadios1" value="Oui"/>
                          Oui
                      </label>
              </div>
              <div class="radio">
                <label>
                          <input [(ngModel)]="radio" (click)="isSousMateriel()" type="radio" name="sousMateriel" id="optionsRadios1" value="Non" checked/>
                          Non
                      </label>
              </div>
            </div>
          </div>
          <div class="form-group" style="height: 30px" *ngIf="sousMateriel">
            <label class="col-md-3 col-xs-12 control-label">Salle</label>
            <div class="col-md-6 col-xs-12">
              <select class="input-group form-control select" data-live-search="true">
                                <option>1D</option>
                                <option>3C</option>
                            </select>
            </div>
          </div>
          <div class="form-group" style="height: 40px">
            <label class="col-md-3 col-xs-12 control-label">Caractéristiques</label>
            <div class="col-md-6 col-xs-12">
              <div class="radio">
                <label>
                            <input type="radio" name="caracteristique" id="optionsRadios1" value="Oui" checked/>
                            Oui
                        </label>
              </div>
              <div class="radio">
                <label>
                            <input type="radio" name="caracteristique" id="optionsRadios1" value="Non"/>
                            Non
                        </label>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary pull-right">Valider</button>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <!-- START DEFAULT DATATABLE -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">List Matériels</h3>
          <ul class="panel-controls">
            <li><a href="" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
            <li><a [routerLink]="['/materiel']" style="cursor: pointer" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
            <li><a href="" class="panel-remove"><span class="fa fa-times"></span></a></li>
          </ul>
        </div>
        <div class="panel-body">
          <table class="table datatable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
              </tr>
              <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>$170,750</td>
              </tr>
              <tr>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>66</td>
                <td>2009/01/12</td>
                <td>$86,000</td>
              </tr>
              <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>2012/03/29</td>
                <td>$433,060</td>
              </tr>
              <tr>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>33</td>
                <td>2008/11/28</td>
                <td>$162,700</td>
              </tr>
              <tr>
                <td>Brielle Williamson</td>
                <td>Integration Specialist</td>
                <td>New York</td>
                <td>61</td>
                <td>2012/12/02</td>
                <td>$372,000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- END DEFAULT DATATABLE -->
    </div>
  </div>
</div>