<div class="page-title">
  <h2><span class="fa fa-arrow-circle-o-left"></span> Statistiques</h2>
</div>
<div class="page-content-wrap">
  <div class="row">

    <div class="col-md-3">

      <div class="widget widget-danger widget-item-icon">
        <div class="widget-item-left">
          <span class="fa fa-users"></span>
        </div>
        <div class="widget-data">
          <div class="widget-int num-count">6,953</div>
          <div class="widget-title">Total Employées</div>
        </div>
        <div class="widget-controls">
          <a href="#" class="widget-control-right"><span class="fa fa-times"></span></a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="widget widget-danger widget-item-icon">
        <div class="widget-item-left">
          <span class="fa fa-desktop"></span>
        </div>
        <div class="widget-data">
          <div class="widget-int num-count">500</div>
          <div class="widget-title">Total Matériels</div>
        </div>
        <div class="widget-controls">
          <a href="#" class="widget-control-right"><span class="fa fa-times"></span></a>
        </div>
      </div>

    </div>

  </div>
  <!-- END WIDGETS -->
</div>